@page
@model CodingClub.Pages.AddMember
@{
    ViewData["Title"] = "Sign up";
}

<div class="container">
    <form method="POST">
        <div class="form-group">
            <label asp-for="fName" class="control-label"></label>
            <input asp-for="fName" type="text" class="form-control" />
            <span asp-validation-for="lName" class="text-danger"></span>

            <label asp-for="lName" class="control-label"></label>
            <input asp-for="lName" type="text" class="form-control" />
            <span asp-validation-for="lName" class="text-danger"></span>

            <input type="submit" value="Sign up!" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}