@page
@model CreateContent
@{
    ViewData["Title"] = "Create Post"; 
} 
<div class="container">
    <h1>Create a post for the club to read!</h1>
    <form>
        <input type="text" asp-for="contentTitle" />
    </form>
</div>