@page
@model CreateTeam
@{
    ViewData["Title"] = "Create New Team"; 
}
<div class="container">
    <form method="POST">
        <div class="form-group">
            <label asp-for="projectName" class="control-label"></label>
            <input asp-for="projectName" type="text" class="form-control" />
            <span asp-validation-for="projectName" class="text-danger"></span>

            <label asp-for="projectDescription" class="control-label"></label>
            <input asp-for="projectDescription" type="textbox" class="form-control" />
            <span asp-validation-for="projectDescription" class="text-danger"></span>

            <label asp-for="teamLeader" class="control-label"></label>
            <!--@Html.DropDownListFor(m => m.teamLeader, Model.teamLeaders) -->
            <select asp-for="teamLeader" class="form-control" asp-items="@Model.teamLeaders" name="TeamLeader"></select>
            <span asp-validation-for="teamLeader" class="text-danger"></span>

            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>