@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Coding Club!</h1>
    <p>Learn about the club and <a asp-page="AddMember">sign up here!</a></p>
</div>
<div class="container">
    <h1>What's going on in the club?</h1>
    @* @foreach (var item in @Model.content)
    {
        <h2>@item.ContentTitle</h2>
        <p>@item.ContentBody</p>
        <sub>@item.Author</sub>
    } *@
    <a asp-page="Team" class="btn btn-primary">Teams Page</a>
    <a asp-page="Members" class="btn btn-primary">Members List</a>
</div>
