@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Coding Club!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="container">
    @foreach (var item in @Model.content)
    {
        <h2>@item.ContentTitle</h2>
        <p>@item.ContentBody</p>
    }
</div>
